<div class="socials">
    <i class="bi bi-github" data-href="https://github.com/lukor5/"></i>
    <i class="bi bi-linkedin" data-href="https://www.linkedin.com/in/lukor5/"></i>
</div>


<div id="navWrapper">
    <div class="nav" id="navBar">
        <div id="navName">
            <h1 style="color: orange">Łukasz Oleś</h1>
            <h4>Web Developer</h4>
        </div>
        <ul class="highres-nav">
            <li href="#about">
                <h2>about</h2>
            <li href="#projects">
                <h2>projects</h2>
            </li>
            <li href="#contact">
              <h2>contact</h2>
            </li>
        </ul>
        <div class="mobile-nav">
            <i class="bi bi-list"></i>
        </div>
    </div>
</div>
<section id="landing">


    <div class="main">
        <div class="welcome-msg">
            <h1 style="color: orange;">>> Hi,</h1>
            <h1>>> I'm a Web Developer.</h1>
        </div>
        <button id="resumeBtn">
            <span class="initial-text">See my resume</span>
            <span class="download-icon"><i class="bi bi-download"></i></span>
        </button>
        <span class="scroll-down" id="scrollDownButton"><i class="bi bi-chevron-double-down" data-href="#about"></i></span>
    </div>
</section>
<section id="about">
    <div class="about-me">
        <h1 style="border-bottom: 1px solid black">About me</h1>
        <div class="about-content">
            <div class="skills-container">
                <div class="skills-col-2">
                    <i class="devicon-html5-plain-wordmark colored"></i>
                    <i class="devicon-css3-plain-wordmark colored"></i>
                    <i class="devicon-javascript-plain colored"></i>

                    <i class="devicon-vuejs-plain-wordmark colored"></i>

                    <i class="devicon-python-plain-wordmark"></i>
                    <i class="devicon-django-plain colored"></i>
                    <i class="devicon-mongodb-plain-wordmark colored"></i>
                    <i class="devicon-postgresql-plain-wordmark colored"></i>
                    <i class="devicon-linux-plain colored"></i>


                </div>
            </div>
            <div class="about-text">
                <h3>My name is <b>Łukasz</b> (or Lukasz if you can't type funny letters)</h3>
                <p> Welcome to my profile! I'm Łukasz (or Lukasz if you lack funny letters), and I'm on a journey to become a Fullstack Developer. I hold a Bachelor's degree in Computer Science and am ready to dive into the world of web development</p>
                <p>While I don't claim to be a seasoned expert in all the technologies out there, I've built a solid foundation and have a strong willingness to learn and grow. Whether you're looking for coding assistance or considering hiring a passionate web developer, I'm here to help you with your needs, while you can provide me with the opportunity to expand my knowledge.</p>
                <h4>Check out my projects</h4>
            </div>
        </div>
    </div>
</section>

<section id="projects">
    <h1 style="border-bottom: 1px solid gainsboro; margin-inline: 10%; padding: 10px">My Projects</h1>
    <div id="projectsContainer">
    </div>
</section>

<section id="contact">
         <div id="success-popup" class="popup" style="display: none;">
    <p>Message sent succesfully!</p></div>
    <div class="form-container">
        <form class="contact-form">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Your name...">
            <label for="mail">E-mail</label>
            <input type="text" id="mail" placeholder="Your E-mail address...">
            <label for="message">Message</label>
            <textarea type="text" id="message" placeholder="Your message..."></textarea>
            <button type="submit" id="submitBtn">Send</button>
        </form>
    </div>
    <div class="contact-container">
        <div class="single-contact"><i class="bi bi-envelope"></i>
            <p>oleslukasz7@gmail.com</p>
        </div>
        <div class="single-contact"><i class="bi bi-phone"></i>
            <p>+48 533 223 699</p>
        </div>
        <div class="single-contact"><i class="bi bi-linkedin"></i>
            <p><a href="https://www.linkedin.com/in/lukor5/">Linkedin</a></p>
        </div>
        <div class="single-contact"><i class="bi bi-github"></i>
            <p><a href="https://github.com/lukor5">GitHub</a></p>
        </div>
    </div>
</section>
<div class="foot">
    <p>ŁUKASZ OLEŚ © ALL RIGHTS RESERVED</p>
</div>