<div class="socials">
    <i class="bi bi-github"></i>
    <i class="bi bi-linkedin"></i>
</div>
<div id="navWrapper">
    <div class="nav" id="navBar">
        <div id="name">
            <h1 style="color: orange">Łukasz Oleś</h1>
            <h3>Fullstack dev</h3>
        </div>
        <ul>
            <li>
                <h2 href="#about">about</h2>
            </li>
            <li>
                <h2 href="#projects">projects</h2>
            </li>
            <li>
                <h2 href="#contact">contact</h2>
            </li>
        </ul>
    </div>
</div>
<section id="landing">
 

    <div class="main">
        <div class="welcome-msg">
            <h1 style="color: orange;">>> Hi,</h1>
            <h1>>> I'm a Web Developer.</h1>
        </div>
        <button id="resumeBtn">
            <span class="initial-text">See my resume</span>
            <span class="download-icon"><i class="bi bi-download"></i></span>
        </button>
        <span class="scroll-down"><i class="bi bi-chevron-double-down"></i></span>
    </div>
</section>

<section id="about">
    <div class="about-me">
        <h1 style="border-bottom: 1px solid black">About me</h1>
        <div class="about-content">
            <div class="skills-container">
                <div class="skills-col-1">
                    <p>S</p>
                    <p>K</p>
                    <p>I</p>
                    <p>L</p>
                    <p>L</p>
                    <p>Z</p>
                </div>
                <div class="skills-col-2">
                    <p>HTML/CSS</p>
                    <p>Javascript</p>
                    <p>Vue.js</p>
                    <p>Python</p>
                    <p>Django</p>
                    <p>Databases</p>
                    <p>CRUD</p>
                    <p>REST Api</p>

                </div>
            </div>
            <div class="about-text">
                <h3>My name is <b>Łukasz</b> (or Lukasz if you can't type funny letters)</h3>
                <p> I'm a Web Developer with clear set path of becoming a Fullstack Developer. I graduated with
                    Engineer's degree and I'm currently looking into starting a career in web development. I don't claim
                    to be an expert in listed technologies, but I've got a solid understanding of basics and willingness
                    to learn.</p>
                <p>I can help you with your coding needs, and you can help me by hiring me and giving opportunity to
                    broaden my knowledge.</p>
                <h4>Check out my projects</h4>
            </div>
        </div>
    </div>
</section>

<section id="projects">
    <h1 style="border-bottom 1px solid black;">My Projects</h1>
    <div id="projectsContainer">
    </div>
</section>

<section id="contact">
    <div class="form-container">
        <form class="contact-form">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Your name...">
            <label for="mail">E-mail</label>
            <input type="text" id="mail" placeholder="Your E-mail address...">
            <label for="message">Message</label>
            <textarea type="text" id="message" placeholder="Your message..."></textarea>
            <button type="submit" id="submitBtn">Send</button>
        </form>
    </div>
    <div class="contact-container">
        <div class="single-contact"><i class="bi bi-envelope"></i>
        <p>oleslukasz7@gmail.com</p>
        </div>
        <div class="single-contact"><i class="bi bi-phone"></i>
        <p>+48 533 223 699</p>
        </div>
        <div class="single-contact"><i class="bi bi-linkedin"></i>
        <p><a href="https://www.linkedin.com/in/lukor5/">Linkedin</a></p>
        </div>
        <div class="single-contact"><i class="bi bi-github"></i>
        <p><a href="https://github.com/lukor5">GitHub</a></p>
        </div>
    </div>
</section>
<div class="foot">
        <p>ŁUKASZ OLEŚ © ALL RIGHTS RESERVED</p>
    </div>